@import url('https://js.arcgis.com/4.18/esri/themes/dark/main.css');
@import '../../../styles/mixins';

.mapContainer {
  display: flex;
  justify-content: center;

  .gisDiv {
    padding: 0;
    margin: 0;
    height: 400px;
    width: 80%;

    @include desktop-to-large-screen {
      height: 800px;
      width: 100%;
    }

    @include large-screen {
      height: 1000px;
      width: 100%;
      max-width: 1400px;
    }
  }
}
