@import url('https://js.arcgis.com/4.18/esri/themes/dark/main.css');
@import '../../../styles/mixins';

.mapContainer {
  .gisDiv {
    height: 400px;
    width: 100%;

    @include desktop-to-large-screen {
      height: 600px;
    }

    @include large-screen {
      height: 700px;
    }
  }

  .combobox {
    padding-top: 30px;
    padding-bottom: 70px;
    width: 70%;

    @include desktop-and-up {
      width: 30%;
    }
  }
}
