@import url('https://js.arcgis.com/4.18/esri/themes/dark/main.css');
@import '../../../styles/mixins';

.mapContainer {
  .gisDiv {
    height: 400px;
    width: 100%;

    @include desktop-to-large-screen {
      height: 600px;
    }

    @include large-screen {
      height: 700px;
    }
  }

  .dropdown {
    padding-top: 30px;
    width: 70%;

    @include desktop-and-up {
      width: 30%;
    }

    select {
      width: 100%;
      color: #236192;
      background-color: white;
      border: 1px solid #236192;
      font-size: 1rem;

      @include desktop-and-up {
        font-size: 1.2rem;
      }
    }
  }
}
