@import '../../../styles/mixins';

.page {
  color: #236192;
  width: 80%;
  padding-bottom: 100px;

  @include large-screen {
    max-width: 1400px;
  }

  h2 {
    width: 100%;
    text-align: center;
  }

  .description {
    line-height: 1.5rem;
    text-align:justify;

    @include desktop-and-up {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .centered {
    display: flex;
    justify-content: center;
  }
}